@layer utilities {
 .gradient-base {
  background: linear-gradient(120deg, var(--color-white), var(--color-slate-100)) !important;
  border: 1px solid var(--color-gray-200);

  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
  padding: 1rem;
 }
}
